<mat-label class="h6">Reference:</mat-label>
<div class="p-2 border bg-white text-dark d-flex">
    <p [innerHTML]="refOutput" class="ref-output user-select-all overflow-wrap"></p>
    <button class="ml-auto" mat-icon-button color="accent" (click)="copyToClipboard(refOutput)">
        <mat-icon aria-label="Copy to clipboard">content_copy</mat-icon>
    </button>
</div>
<br>
<mat-label>Should look something like this...</mat-label>
<div class="p-2 border d-flex user-select-none text-wrap">
    <p [innerHTML]="example" class="overflow-wrap"></p>
</div>
