<section class="container m-auto p-3 col-12 col-md-10 col-lg-8">

    <section class="shadow bg-dark p-3 mb-3 col-12">
        <app-reference-option
            [refOptions]="refOptions" (optionSelected)="getReferenceDetails($event)">
        </app-reference-option>
    </section>

    <section class="shadow bg-dark p-3 mb-3 col-12">
        <h2 class="col-12">Reference details</h2>
        <mat-spinner *ngIf="!refDetails" class="m-auto"></mat-spinner>
        <app-reference-form *ngIf="refDetails" [refDetails]="refDetails" (formSubmit)="genarateReference($event)" (formReset)="refOutput = ''"></app-reference-form>
    </section>

    <section class="shadow bg-dark p-3 mb-3 col-12">
        <app-reference-output [refOutput]="refOutput" [example]="refDetails?.example"></app-reference-output>
    </section>
</section>: