<section class="mt-3">
    <h2 class="mb-0">Reference:</h2>
    <div class="p-2 border bg-white text-dark d-flex">
        <!-- Angular should automatically sanitize refOutput and remove any script tags -->
        <p [innerHTML]="refOutput" class="ref-output"></p>
        <span class="ml-auto">
            <button mat-icon-button color="primary" (click)="copyToClipboard(refOutput)">
                <mat-icon alt="Copy">content_copy</mat-icon>
            </button>
        </span>
    </div>
</section>