<mat-toolbar color="primary" class="shadow">
  <h1 class="font-weight-light">Referencing tool (USW Style)</h1>
  <span class="ml-auto">
    <a mat-flat-button class="btn text-light" href="https://library.southwales.ac.uk/collections-subject-guides/referencing/" target="_blank" rel="noopener noreferrer">
      Official Guide <mat-icon color="">open_in_new</mat-icon>
    </a>
  </span>
</mat-toolbar>

<router-outlet></router-outlet>

<footer class="p-3 text-center">
  <mat-divider class="col-12 col-md-10 col-lg-8 ml-auto mr-auto m-3"></mat-divider>

  <p>
    🔥<em>The creators do not accept any responsibility for loss of marks due to
      poor referencing</em>🔥
  </p>
  <p>Use this tool at your own risk✌😅🤙</p>

  <mat-divider class="col-12 col-md-10 col-lg-8 ml-auto mr-auto m-3"></mat-divider>

  <p>
    Created by
    <a href="https://github.com/StephPT/stfn-api" target="_blank" rel="noopener noreferrer">@StephPT</a>
    and
    <a href="https://github.com/Leggit/UswReferencerUI" target="_blank" rel="noopener noreferrer">@Leggit</a>
  </p>
</footer>
