<section class="container m-auto p-3 col-12 col-md-10 col-lg-8">

    <app-reference-option *ngIf="refOptions.length > 0"
        [refOptions]="refOptions" 
        (optionSelected)="getReferenceDetails($event)">
    </app-reference-option>
    <p *ngIf="refOptions.length === 0" class="text-danger text-center">
        Could not retrieve Reference Options from the server
    </p>

    <mat-divider></mat-divider>
    <app-ref-input></app-ref-input>

    <mat-divider></mat-divider>
    <app-ref-output [refOutput]="refOutput"></app-ref-output>

</section>