<section class="container m-auto p-3 col-12 col-md-8 col-lg-6">

    <!-- Reference Type select form-->
    <app-reference-option *ngIf="refOptions.length > 0"
        [refOptions]="refOptions" 
        (optionSelected)="getReferenceDetails($event)">
    </app-reference-option>
    <p *ngIf="refOptions.length === 0" class="text-danger text-center">
        Could not retrieve Reference Options from the server
    </p>

    <mat-divider></mat-divider>

    <!-- Reference input form-->
    <form>
        Form
    </form>

    <mat-divider></mat-divider>

    <!-- Reference output -->
    <section class="mt-3">
        <h2 class="mb-0">Reference:</h2>
        <div class="p-2 border">
            <p class="ref-output">
                {{refOutput}}
            </p>
        </div>
    </section>

</section>